.App {
  text-align: center;
}

.form-container {
  width: 1000px;
  min-height: 800px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 0;
}

input {
  width: 400px;
}

.del-button {
  display: inline-block;
  padding: 5px;
  margin-left: 25px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
